<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<h1>Login Page</h1>
<h3>{{msg}}</h3>
<form action="/login/" method="post">
    {% csrf_token %}
    <input type="email" name="email" id="email" placeholder="Enter your Email:" autocomplete="username">
    <input type="password" name="password" id="password" placeholder="Enter your Password:"
           autocomplete="current-password">
    <input type="submit" value="Submit">

</form>
</body>
</html>